.title-section.category {
  padding-top: 88px;
}

.category-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card-cat {
  color: var(--text-secondary-color);
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-cat header {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  position: static;
  margin-bottom: 24px;
}

.card-cat img {
  width: 80px;
}

.card-cat h3 {
  font-size: 28px;
  color: var(--text-primary-color);
}

@media screen and (min-width: 768px) {
    .category-cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
  .card-cat {
    width: 330px;
    height: 220px;
  }
}

@media screen and (min-width: 1440px) {
  .card-cat {
    width: 280px;
    height: 220px;
  }
}