section.hero {
  width: 100%;
  margin: 0;
}

section.footer-hero {
  width: 100%;
  margin: 0;
}

.img-footer {
  height: 400px;
  background: url(../img/img-footer.jpg) no-repeat;
  background-size: cover;
}

.img-hero {
  height: 400px;
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.h2-hero {
  padding: 88px;
  margin: 0 auto;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  width: 100%;
  max-width: 1200px;
}

section.hero.pacotes {
  width: 100%;
  margin: 0 0 88px;
}

.pacotes .img-hero {
  height: 460px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/hero-pacotes.jpg) no-repeat;
  background-size: cover;
  background-position: -300px;
  padding: 65px 24px;
}

.pacotes .title-section h1 {
  color: var(--text-secondary-color);
  text-align: left;
  margin: 0;
}

.pacotes .title-section hr {
  margin: 16px 0 32px 0;
}

.pacotes .h2-hero {
  padding: 0;
  margin: 0;
  text-align: left;
  color: var(--text-secondary-color);
}

.img-footer.pacotes {
  height: 400px;
  background: url(../img/img-footer-pacotes.jpg) no-repeat;
  background-size: cover;
  background-position: -100px;
}

@media screen and (min-width: 768px) {
  .img-hero {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .img-footer {
    height: 620px;
    background: url(../img/img-footer-tablet.jpg) no-repeat;
    background-size: cover;
    background-position: -500px;
  }

  .h2-hero {
    font-size: 32px;
  }

  .pacotes .img-hero {
    height: 620px;
    background-position: -150px;
    padding: 210px 120px;
  }

  .pacotes .title-section h1 {
    width: 100%;
  }

  .pacotes .h2-hero {
    width: 580px;
  }

  .img-footer.pacotes {
  height: 620px;
  background-position: -60px;
}
}

@media screen and (min-width: 1024px) {
  .img-hero {
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }

  .h2-hero {
    padding: 88px;
  }

  .img-footer {
    background-position: -300px;
  }

    .pacotes .img-hero {
    background-position: 0px;
  }

  .img-footer.pacotes {
  background-position: 0px;
}
}

@media screen and (min-width: 1440px) {
  .img-footer {
    background-position: 0;
  }

}

@media screen and (min-width: 1920px) {
  .h2-hero {
    padding: 88px;
  }

  .img-footer {
    background-position: 0;
  }
}
