.payments .content-container .img-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  width: 100%;
  margin-top: 24px;
}

.payments .content-container .img-gallery .img.first {
  background: url(../img/pay-bag-mobile.jpg) no-repeat;
  background-size: cover;
}

.payments .content-container .img-gallery .img.second {
  background: url(../img/pay-passport-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .img-gallery .img.thirdy {
  background: url(../img/pay-people-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .img-gallery .img.colspan-2 {
  grid-column: span 2;
}

.payments .content-container .title-content.pacotes{
  width: 170px;
  margin: 24px 0;
  line-height: 2.0;
}

.payments .content-container .img-gallery .img.first.pacotes {
  background: url(../img/pay-construction.jpg) no-repeat;
  background-size: cover;
}

.payments .content-container .img-gallery .img.second.pacotes {
  background: url(../img/pay-city.jpg) no-repeat;
  background-size: cover;
  background-position: -100px;
}

.payments .content-container .img-gallery .img.thirdy.pacotes {
  background: url(../img/pay-person-japan.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .payments .content-container .img-gallery .img.first {
    background: url(../img/pay-bag-tablet.jpg) no-repeat;
    background-size: cover;
  }
  .payments .content-container .img-gallery .img.second {
    background: url(../img/pay-passport-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .img-gallery .img.thirdy {
    background: url(../img/pay-people-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .payments .content-container .img-gallery .img.second.pacotes {
  background-position: 0;
}

.payments .content-container .img-gallery .img.thirdy.pacotes {
  background-position: 0 -100px;
}
}

@media screen and (min-width: 1024px) {
  .payments .content-container .img-gallery .img.first.pacotes {
    background-position: 0 -50px;
  }

  .payments .content-container .img-gallery .img.thirdy.pacotes {
  background-position: 0 -150px;
}
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  .payments .content-container .title-content {
    margin: 0 0 24px;
  }

  .payments .content-container .text-content {
    width: 360px;
  }

  .payments .content-container .img-gallery {
    width: 790px;
    margin: 0;
  }

    .payments .content-container .img-gallery .img.first.pacotes {
    background-position: 0 0;
  }

   .payments .content-container .img-gallery .img.thirdy.pacotes {
  background-position: 0 -100px;
}
}
